@page
@model V12Core.WebUI.Areas.Identity.Pages.Account.Manage.IndexModel<Microsoft.AspNetCore.Identity.IdentityUser>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = "Index";
}

<h4>@ViewData["Title"]</h4>

@if (!String.IsNullOrEmpty(@Model.StatusMessage))
{
    var statusMessageClass = @Model.StatusMessage.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.StatusMessage
    </div>
}
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                @if (Model.IsPhoneNumberConfirmed)
                {
                    <input asp-for="Input.PhoneNumber" class="form-control" disabled />
                    <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                }
                else
                {
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    var statusLinkClass = @Model.isPhoneVerifyCode ? "none" : "block";
                    <button id="phone-verification" type="submit" asp-page-handler="SendVerificationPhone" class="btn btn-link" style="display:@statusLinkClass">Send verification code</button>
                    if (Model.isPhoneVerifyCode)
                    {
                        var statusMessageClass = "info";
                        <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            Please enter verification code
                            <input asp-for="Code" class="form-control" />
                            <button id="code-verification" type="submit" asp-page-handler="VerifyPhoneNumber" asp-route-id="Code" class="btn btn-primary">Verify</button>
                        </div>
                    }
                }
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@*@section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@